.container {
    position: relative;
    text-align: center;
    color: Black;
}

.text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    animation-name: example;
    animation-duration: 4s;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.sub_text{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial;
    font-size: 18px;
    color: white ;
}

.sub_text2{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    font-family: Arial;
    color: aqua;
    font-weight: bold;
}

@keyframes example {
    
    
    0%   {left:0%; top:75%;}
}

.topic1{
    color: Black;
    font-size: 30px;
    font-family: 'Lucida Sans';
    font-weight: bold;
    padding: 4px 12px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.zoom {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
    
}

    .zoom:hover {
        transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }

.para1{
    font-family: Arial;
    font-size: 15px;
    text-align: center;
}

.text3{
    text-align: center;
    color: white;
    font-family: Arial;
}

.fName, .title1{
    color: aqua; 
}

.title1{
    color: aqua; 
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
  
.flex-container > div {
    background-color: rgba(0, 0, 0, 0.588);
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    animation: test 5s ;
    transition: all 0.6s ease-in-out;
}

.flex-container > div:hover{
    transform: translateY(-10px);
}

@keyframes test {
    100% { flex: 1;}
  
} 

.flex1{
    width: 400px;
}

.main_flex1{
    font-family: Bahnschrift SemiBold;
    color: white;
}

.sub_flex1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
}

.sub_cont{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
}

.text2{
    text-align: left;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    animation-name: example;
    animation-duration: 4s;
}

.text2_part1{
    color: blue;
    font-family: Bahnschrift SemiBold;
    animation-name: example;
    animation-duration: 4s;
}

.text2_part2{
    color: black;
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example {
    
    0%  {left:-20%; top:50%;}
}

.flex-container2 {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
  
.flex-container2 > div {
    background-color: rgba(0, 0, 0, 0.588);
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
} 

.link{
    color: aqua;
}

#btn{
    width: 150px;
    height: 25px;
    background: rgba(0, 0, 0, 0.588);
    border: 0px solid rgba(0, 0, 0, 0.588);
    color: white;
    font-size: 17px;
    font-family: Calibri;
    font-weight: bold;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    transition: 0.2s ease;
    cursor: pointer;
}

#btn:hover{
    opacity: .7;
}

#main_me{
    width: 500px;
}

@media(max-width: 600px){
    .text{
        font-size: 25px;
    }

    .sub_text{
        font-size: 10px;
    }

    .sub_text2{
        font-size: 18px;;
    }

    hr{
        width: 400px;
    }

    .zoom{
        width: 200px;
        margin-left: 120%;
    }

    .para1{
        font-size: 12px;
    }

    .text2_part1{
        animation-name: example;
        animation-duration: 200s;
        font-size: 17px;
    }

    .text2_part2{
        animation-name: example;
        animation-duration: 200s;
        font-size: 17px;
    }

    @keyframes example {
    
        0%  {left:-20%; top:50%;}
    }

    #proj01{
        margin-left: 0%;
        width: 150px;
        height: 150px;
    }

    .sub_flex1{
        font-size: 15px;
    }

    .sub_cont{
        font-size: 12px;
    }

    #main_me{
        width: 300px;
        margin-left: 20px;
    }
}
