.sub_para2{
    font-family: Arial;
    color: aqua;
    font-size: 20px;
    text-align: center;
}

.bgimage{
    height: 300vh;
}

.HRSeperate{
    border: 1px solid rgb(73, 73, 73);
    width: 500px;
}

#Ex01{
    width: 500px;
    height: 150px;
}

@media(max-width: 600px){
    .topic1{
        font-size: 25px;
    }

    .title2{
        font-size: 20px;
    }

    #Ex01{
        width: 350px;
        height: 100px;
        margin-left: -2px;
    }

    .para2{
        font-size: 10px;
    }

    .HRSeperate{
        width: 350px;
    }
}
